#detailCharacter {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 67vh;
}

#information {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50%;

    border: 0.1em solid black;
}

#information > #picture {
    margin: 0;
    padding: 0;
    width: 33%;
    height: 100%;

    vertical-align:top;
    display: inline-block;

    border: 0.2em solid black;
}

#information > #picture > picture {
    width: 100%;
    height: 100%;

    z-index: 2;
}

#information > #picture > picture > img {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}


#information > #identity {
    margin: 0;
    padding: 0;
    width: 67%;
    height: 100%;

    vertical-align: top;
    display: inline-block;

    border: 0.2em solid black;
}

#information > #identity > #wrapperName {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 20%;

    font-size: 0.5em;
    font-weight: bold;
    color: white;
    background-color: #FF4136;
    display: flex;

    border-bottom: 0.2em solid black;
}

@media only screen and (min-width: 800px) and (min-height: 600px) {
    #information > #identity > #wrapperName {
        font-size: 2.3em;
    }
}

@media only screen  and (min-width: 600px) and (min-height: 400px) {
    #information > #identity > #wrapperName {
        font-size: 1.8em;
    }
}

@media only screen  and (min-width: 400px) and (min-height: 200px) {
    #information > #identity > #wrapperName {
        font-size: 1.3em;
    }
}

#information > #identity > #wrapperName > #name {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#information > #identity > #wrapperName > #name > span {
    position: relative;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
}

#information > #identity > #wrapperName > #name > .notFavorite,
#information > #identity > #wrapperName > #name > .isFavorite:hover {
    color: white;
    cursor: pointer;
}

#information > #identity > #wrapperName > #name > .isFavorite,
#information > #identity > #wrapperName > #name > .notFavorite:hover {
    color: orange;
    cursor: pointer;
}

#information > #identity > #description {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80%;

    font-size: calc(4vw);
    overflow: auto;
    text-align: justify;
    background-color: white;
}

@media only screen and (min-width: 400px) {
    #information > #identity > #description {
        font-size: 1.15em;
    }
}

#appearances {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50%;

    border: 0.2em solid black;
}

#appearances > #appearancesContainer {
    margin: 1em auto;
    padding: 0;
    width: 98%;
    height: 90%;

    overflow: auto;
}

@media only screen and (max-height: 400px) {
    #information {
        height: 100%;
    }

    #appearances {
        height: 0%;
    }
}